/* style.css */
:root {
  --bs-primary: #ff4d6d;
  --bs-primary-hover: #ff1a4d;
}

.btn-primary {
  background-color: #031926 !important;
}

.hero {
  background: linear-gradient(135deg, #9DBEBB, #468189);
  padding: 120px 0;
}
